
.container {
  max-width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box;
}

.card {
  background-color: #f0f0f0;
  padding: 20px;
  margin-bottom: 20px;
}

.card-title {
  font-size: 24px;
  margin: 0;
}

.center {
  text-align: center;
  margin-top: 50px;
}

.center img {
  width: 200px;
  margin-bottom: 20px;
}

.center h1, .center h2 {
  margin: 0;
}

.center button {
  margin-top: 20px;
}

.table {
  width: 100%;
}

.table-responsive {
  overflow-x: auto;
}


.checkout-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px; 
}


























































































