<p>
  <mat-toolbar color="primary">
    <a href="" routerLink="" style="color: white;"> <span>E-Commerce Application</span>
    </a>
    <span class="example-spacer"></span>
    <button mat-stroked-button color="white" routerLink="products">START SHOPPING</button>
    <button mat-icon-button class="example-icon favorite-icon" matTooltip="cart" routerLink="cart">
      <div matBadge="{{totalItem}}" matBadgePosition="before" matBadgeColor="accent"></div>
      <mat-icon>shopping_bag</mat-icon>
    </button>

  </mat-toolbar>
</p>






